.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background: black;
    background-image: linear-gradient(to right, rgb(22, 22, 22) 1px, transparent 1px), linear-gradient( to bottom, rgb(22, 22, 22) 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: 'VT323', monospace;
    cursor: none;
}
p, h1, h2, h3{
    color: #00FF00;
    font-weight: bold;
}
h1{
    font-size: xx-large;
}
h2, h3{
    font-size: larger;
}
.glowing {
    text-shadow: 0 0 3vw;
}
#dot{
    position: fixed;
    width: 12px;
    height: 12px;
    background:#00FF00;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00;
    pointer-events: none;
    z-index: 9999;
}
.glow1{
    animation: glow 2s ease infinite;
    -moz-animation: glow 2s ease infinite;
    -webkit-animation: glow 2s ease infinite;
}
a{
    color: #00FF00;
    text-decoration: none;
    font-style: italic;
    font-size: larger;
}
.panel{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 25px;

}
.center{
    display: flex;
    justify-content: center;
}
@keyframes glow{
    0%,
    100%{
        text-shadow: 0 0 1vw #00FF00,
        0 0 3vw #00FF00,
        0 0 10vw #00FF00,
        0 0 10vw #00FF00,
        0 0 0.4vw #E0FFE0,
        .5vw .5vw .1vw #008000;
        color: #E0FFE0;
    }
    50%{
        text-shadow: 0 0 .5vw #004D00, 0 0 1.5vw #004D00, 0 0 5vw #004D00, 0 0 5vw #004D00, 0 0 .2vw #004D00, .5vw .5vw .1vw #002100;
    color: #008000;
    }

}
@keyframes animate {
    0%{
        filter: drop-shadow(0 0 5px #00FF00) drop-shadow(0 0 15px #00FF00) drop-shadow(0 0 30px #00FF00) hue-rotate(0deg);
    }
    100%{
        filter: drop-shadow(0 0 5px #00FF00) drop-shadow(0 0 15px #00FF00) drop-shadow(0 0 30px #00FF00) hue-rotate(0deg);
       }
}